@import "../modules/base";

.BlockPage {
  display: flex;
  //   flex-wrap: wrap;
  flex-direction: column;
  .BlockPage_LinkBack {
    color: $textPrimary;
    text-decoration: none;
    font-size: 1.1em;
    margin-bottom: 2em;
    display: inline-block;
    span {
      margin-left: 1em;
    }
  }
  .BlockPage_Header,
  .BlockPage_General,
  .BlockPage_Advanced,
  .BlockPage_Transactions {
    background-color: $blocksBackground;
    margin-bottom: 1.5em;
    border-radius: 8px;
    padding: 2em 0;
    h3 {
      padding: 1rem;
    }
  }
  .BlockPage_General_Table,
  .BlockPage_Advanced_Table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    tbody {
      tr {
        border-bottom: 1px solid $border;

        &:last-child {
          border: none;
        }
        .label {
          color: $textSecondary;
          padding: 1rem;
        }
        td {
          color: $textPrimary;
          padding: 1.3em 0;
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: auto;
        }
      }
    }
  }
  .BlockPage_Header {
    color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    a,
    span {
      display: inline-block;
    }
    a {
      text-decoration: none;
      color: $primary;
      font-size: 1.1em;
      i {
        padding: 0 0.5em;
      }
    }
    span {
      font-size: 1.7rem;
      img {
        height: 1.8rem;
        width: auto;
        vertical-align: middle;
        padding-right: 0.5em;
      }
    }
  }
  div {
    display: flex;
    justify-content: space-between;
    .BlockPage_General {
      width: 63%;
      display: flex;
      flex-direction: column;
    }

    .BlockPage_Advanced {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .BlockPage {
    .BlockPage_Header {
      a {
        display: none;
      }
    }
    div {
      flex-direction: column;
      .BlockPage_General {
        width: auto;
      }
      .BlockPage_Advanced {
        width: auto;
      }
    }
  }
}
